html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
  background-image: radial-gradient(#fe718f 0%, #fe8183 42%, #ff9b73 87%);
}

#root {
  height: 100%;
}
