.App {
  min-height: 100%;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 50%,
    #fdf6f6 50%,
    #fdf6f6 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App__username {
  color: #fff;
  font-weight: bold;
}
.App__userpic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  align-self: center;
}
.App__amount {
  position: relative;
  align-self: center;
  background: #fff;
  color: rgba(0, 0, 0, 0.47);
  font-size: 2.1rem;
  font-weight: bold;
  padding: 2.5rem 5rem 1.5rem;
  border-radius: 11px;
  margin: 1rem 0 5rem 0;
  box-shadow: 0 10px 5px 5px rgba(0, 0, 0, 0.02);
}
.App__amount:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 90%;
  height: 100%;
  top: 10%;
  left: 5%;
  background: #fff;
  box-shadow: 0 5px 34px 23px rgba(0, 0, 0, 0.06);
  border-radius: 11px;
}
.App__amount--info {
  font-size: 0.6rem;
}

.App__buttons > button {
  outline: 0;
  background: #fff;
  color: #fe718f;
  font-size: 1rem;
  padding: 1rem;
  margin: 1rem;
  border: 0;
  box-shadow: none;
  font-weight: bold;
  cursor: pointer;
}

.App__giveaway {
  font-size: 0.7rem;
  color: #fe8183;
  cursor: pointer;
}
